*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-light);
    line-height: 1;
}

@font-face {
    font-family: 'LineSeed-Regular';
    src: url('/fonts/line-seed/LINESeedJP_OTF_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LineSeed-Bold';
    src: url('/fonts/line-seed/LINESeedJP_OTF_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LineSeed-ExtraBold';
    src: url('/fonts/line-seed/LINESeedJP_OTF_Eb.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

h1, h2 {
    font-family: 'LineSeed-ExtraBold', sans-serif;
    font-weight: 800;
}

h3, h4 {
    font-family: 'LineSeed-Bold', sans-serif;
    font-weight: bold;
}

h5, h6, p, input, textarea, select, option, a, label, span, button {
    font-family: 'LineSeed-Regular', sans-serif;
    font-weight: normal;
}

:root{
    --white: #ffffff;
    --mikan: #f08300;
    --black: #111111;
    --gray-light: #f8f9fa;
    --gray-middle: #a1a1a1;
    --gray: #666666;
    --gray-darker: #444444;
    --shadow-light: rgba(0, 0, 0, 0.05);
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-mikan: rgba(240, 131, 0, 0.5);
    --red: #E2041B;
    --line-green: #00B900;
    --dark-gray: #333333;
    --mikan-hover: #d97300;
    --light-gray: #e0e0e0;
    --border-gray: #ccc;
    --background-light: #fdfdfd;
    
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 22px;
    --font-3xl: 24px;
    --font-4xl: 32px;
    --font-5xl: 36px;
    --font-6xl: 48px;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.MediShare-text{
    font-family: 'Limelight', sans-serif;
    font-size: var(--font-6xl);
    color: var(--mikan);
}

.ForYourLife-text{
    font-family: 'Oswald', sans-serif;
    font-size: var(--font-3xl);
    font-style: bold;
    font-weight: 500;
    color: var(--black);
}

.MediShare-icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
}