body{
    width: 100%;
}

main{
    padding-top: 24px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title{
    font-size: 48px;
    margin-bottom: 48px;
}

.settings-section{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#family-line-container, #betweenMeals-timetable-container{
    margin-bottom: 60px;
}

#user-name-container p:first-of-type{
    margin-right: 96px;
}

#family-line-container p:first-of-type{
    margin-right: 62px;
}

#wakeUp-timetable-container p:first-of-type, #betweenMeals-timetable-container p:first-of-type{
    margin-right: 19px;
}

.settings-section p{
    font-size: 16px;
}

.settings-section p:last-of-type{
    font-size: 20px;
    font-weight: bold;
}

.settings-section input{
    width: 300px;
    height: 40px;
    border: 2px solid var(--gray-middle);
    border-radius: 5px;
    padding-left: 8px;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.settings-section input:read-only{
    border: none;
    pointer-events: none;
}

.email-container, .name-container, .line-container, .timetable-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#confirm-user-email, #confirm-family-email, #confirm-user-name, #confirm-family-line, #confirm-wakeUp, #confirm-beforeBreakfast, #confirm-betweenMeals, #confirm-afterBreakfast, #confirm-beforeLunch, #confirm-afterLunch, #confirm-beforeDinner, #confirm-afterDinner, #confirm-beforeSleep{
    display: none;
}

#user-email-error, #family-email-error, #user-name-error, #family-line-error, #wakeUp-error, #beforeBreakfast-error, #betweenMeals-error, #afterBreakfast-error, #beforeLunch-error, #afterLunch-error, #beforeDinner-error, #afterDinner-error, #beforeSleep-error{
    display: none;
    color: var(--red);
    font-size: 16px;
}

button{
    width: 200px;
    height: 48px;
    margin-bottom: 60px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

button:hover::before{
    left: 0;
}

button:hover{
    background-color: #333333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.settings-section button{
    width: 80px;
    height: 40px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

dialog:not([open]) {
    display: none;
}

dialog::backdrop {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
}

dialog {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.4s ease-out forwards;
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 9999;
}

#how-to-register-family-line-dialog{
    height: 460px;

}

#how-to-register-family-line-dialog img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
}

#how-to-register-family-line-dialog p:first-of-type{
    margin-bottom: 8px;
}

dialog::backdrop {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
}

dialog h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--mikan);
}

dialog p {
    font-size: 16px;
    color: #333;
}

#delete-medicine-name p {
    margin: 4px 0;
    font-size: 18px;
}

dialog button {
    margin: 8px;
    margin-top: 20px;
    width: 60%;
    height: 40px;
    background: var(--mikan);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

dialog button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

dialog button:hover::before {
    left: 0;
}

dialog button:hover {
    background-color: #d97300;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px){
    main{
        width: 100%;
        height: auto;
        padding-right: 12px;
        padding-left: 12px;
    }

    .settings-section{
        flex-direction: column;
        gap: 12px;
    }

    #about-medishare-title, #about-kusurinoshiori-title{
        flex-direction: column;
    }

    button{
        width: 120px;
    }

    #user-name-container p:first-of-type, #family-line-container p:first-of-type{
        margin-right: 0;
    }

    .email-container, .name-container, .line-container, .timetable-container{
        flex-direction: column;
        margin-bottom: 24px;
    }
}