<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('register_medicine', 'sidebar')}"></head>
<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main>
        <h1 id="page-title">お薬の登録</h1>
        <form th:action="@{/register_medicine}" th:object="${userMedicine}" method="post" id="register-medicine-form" onsubmit="return validateAndSubmit();">
            <div class="input-group">
                <label for="medicine-official-name">お薬の正式名称<span class="error-message" id="medicine-official-name-error">正しいお薬の名前を入力してください</span></label>
                <input type="text" id="medicine-official-name" th:field="*{medicineOfficialName}" placeholder="カロナール錠200 など" list="medicine-official-name-suggestions" oninput="searchMedicine()" onchange="setKusuriNoShioriUrl()">
                <datalist id="medicine-official-name-suggestions"></datalist>
                <input type="hidden" id="url-kusurinoshiori" th:field="*{urlKusurinoshiori}">
                <p id="medicine-official-name-description">お薬の正式名称を登録することで、「くすりのしおり」と連携することができます</p>
            </div>
            <div class="input-group">
                <label for="medicine-user-input">お薬の名前 <span class="asterisk">*</span></label>
                <input type="text" id="medicine-user-input" th:field="*{medicineUserInput}" placeholder="風邪薬 など" required>
            </div>
            <div class="input-group">
                <label for="prescription-days">何日分（数字のみ） <span class="asterisk">*</span></label>
                <input type="number" id="prescription-days" th:field="*{prescriptionDays}" placeholder="5 など" required>
            </div>
            <div class="input-group">
                <p>お薬の飲み方 <span class="asterisk">*</span></p>
                <div class="radio-group">
                    <input type="radio" id="medication-method-timing" name="methodType" value="timing" checked onchange="switchSelectGroup()">
                    <label>タイミング</label>
                </div>
                <div class="radio-group">
                    <input type="radio" id="medication-method-selected-time" name="methodType" value="selected-time" onchange="switchSelectGroup()">
                    <label>時間指定</label>
                </div>
            </div>
            <div class="input-group" id="medication-method-select-group">
                <label for="medicationMethod">お薬を飲むタイミング <span class="asterisk">*</span></label>
                <select th:field="*{medicationMethod}" id="medicationMethod" required>
                    <option value="起床時">起床時</option>
                    <option value="朝食前">朝食前</option>
                    <option value="朝食後">朝食後</option>
                    <option value="昼食前">昼食前</option>
                    <option value="昼食後">昼食後</option>
                    <option value="夕食前">夕食前</option>
                    <option value="夕食後">夕食後</option>
                    <option value="就寝前">就寝前</option>
                    <option value="食間">食間</option>
                </select>
            </div>
            <div class="input-group">
                <label for="user-comment">その他コメント</label>
                <textarea id="user-comment" th:field="*{userComment}" placeholder="今日あった出来事も報告してみましょう^^"></textarea>
            </div>
            <div id="button-container">
                <button type="button" onclick="history.back()">戻る</button>
                <button type="submit">登録</button>
            </div>
        </form>
    </main>
    <script th:src="@{/js/register_medicine.js}"></script>
</body>
</html>