<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('reset_password', 'headerAndFooter')}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <input type="hidden" id="token" th:value="${token}">
    <div id="wrapper1">
        <div id="wrapper2">
            <h1>パスワード再設定</h1>
            <form th:action="@{/reset-password}" method="post" id="reset-password-form">
                
                <div class="input-group">
                    <img th:src="@{/img/password-icon.png}" alt="パスワードアイコン" class="no-display-in-mobile-icon">
                    <div class="input-text-group">
                        <label for="password">パスワード（英数字混合・6文字以上）</label>
                        <span class="error-message" id="password-error">正しいパスワードパターンを入力してください</span>
                        <div id="password-strength">
                            <div id="password-strength-bar"></div>
                            <p id="password-strength-text"></p>
                        </div>
                        <button type="button" id="password-show-button" class="show-password">
                            <img id="password-eye" th:src="@{/img/eye-slash-icon.png}" alt="パスワードの表示アイコン" th:data-eye-open-path="@{/img/eye-open-icon.png}" th:data-eye-close-path="@{/img/eye-slash-icon.png}">
                        </button>
                        <input type="password" id="password" name="password" placeholder="・・・・・・" required>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-text-group">
                        <label for="password-validation">パスワードをもう一度入力してください</label>
                        <span class="error-message" id="password-validation-error">パスワードが一致しません</span>
                        <button type="button" id="password-validation-show-button" class="show-password">
                            <img id="password-validation-eye" th:src="@{/img/eye-slash-icon.png}" alt="パスワードの表示アイコン" th:data-eye-open-path="@{/img/eye-open-icon.png}" th:data-eye-close-path="@{/img/eye-slash-icon.png}">
                        </button>
                        <input type="password" id="password-validation" name="password-validation" placeholder="・・・・・・" required>
                    </div>
                </div>

                <button type="submit">パスワードをリセット</button>
            </form>
        </div>
    </div>

    <dialog id="reset-password-success-dialog">
        <h2 id="reset-password-success-message"></h2>
        <button type="button" id="close-reset-password-success-dialog">ログイン画面へ</button>
    </dialog>
    <dialog id="reset-password-error-dialog">
        <h2 id="reset-password-error-message"></h2>
        <p id="reset-password-error-message2">もう一度、ログイン画面からパスワードのリセットを行ってください</p>
        <button type="button" id="close-reset-password-error-dialog">ログイン画面へ</button>
    </dialog>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/reset_password.js}"></script>
<script th:src="@{/js/zxcvbn.js}"></script>
</body>
</html>
